.Dead {
    background-color: tomato;
}

.Alive {
    background-color: darkseagreen;
}

.unknown {
    background-color:goldenrod;
}

.char-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    /* flex: 0 0 auto; */
}

img {
    width: 100px;
}

h3{
    text-align: center;
    text-overflow: ellipsis;
    width: 15ch;
    white-space: nowrap;
    overflow: hidden;
}

span {
    display: block;
    width: 18ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Alive-destaq {
    background-color: darkgreen;
    padding: .5rem;
}

.Dead-destaq {
    background-color: crimson;
    padding: .5rem;
}

.unknown-destaq {
    background-color: chocolate;
    padding: .5rem;
}

p {
    text-align: center;
    width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}