.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}
h1 { 
    text-align: center;
}


.algo{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    
}

.arrows {
    min-height: 100%;
    min-width: 20px;
    width: 2.5%;
    background-color: darkgray;
    font-weight: bold;
    display: grid;
    place-items: center;
    cursor: pointer;
}